<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="content">
      <div class="newChoreForm">
        <form action="/config" method="post">
          <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" placeholder="Enter User Name">
            <small id="userNameHelp" class="form-text text-muted">Who needs to do the work</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>

</html>
